---
import ThemeIcon from "./ThemeIcon.astro";
---

<div class="hero">
  <!-- This needs to be first, otherwise links from the rest of the header covers it -->
  <div class="content">
    <slot />
  </div>
  <div class="corner top-left">
    <div class="corner-content-left">
      <slot name="section-links" />
    </div>
  </div>
  <div class="corner top-right">
    <div class="corner-content-right">
      <ThemeIcon />

    </div>
  </div>
  <div class="corner bottom-left"></div>
  <div class="corner bottom-right"></div>
</div>

<style>
  :root {
    --corner-size: 150px;
    --corner-border-width: 2px;
    --corner-text-color: rgb(52, 52, 52);
    --corner-text-padding: 20px;
    --content-padding: 100px;
    --distance-from-edge: 40px;
  }

  :root.dark {
    --corner-text-color: white;
  }


  .hero {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
  }

  .corner {
    position: absolute;
    width: var(--corner-size);
    height: var(--corner-size);
  }

  .top-left {
    top: var(--distance-from-edge);
    left: var(--distance-from-edge);
    border-top: var(--corner-border-width) dashed var(--corner-text-color);
    border-left: var(--corner-border-width) dashed var(--corner-text-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .top-right {
    top: var(--distance-from-edge);
    right: var(--distance-from-edge);
    border-top: var(--corner-border-width) dashed var(--corner-text-color);
    border-right: var(--corner-border-width) dashed var(--corner-text-color);
  }

  .bottom-left {
    bottom: var(--distance-from-edge);
    left: var(--distance-from-edge);
    border-bottom: var(--corner-border-width) dashed var(--corner-text-color);
    border-left: var(--corner-border-width) dashed var(--corner-text-color);
  }

  .bottom-right {
    bottom: var(--distance-from-edge);
    right: var(--distance-from-edge);
    border-bottom: var(--corner-border-width) dashed  var(--corner-text-color);
    border-right: var(--corner-border-width) dashed  var(--corner-text-color);
  }

  .content {
    padding-top: var(--content-padding);
    padding-bottom: var(--content-padding);
  }

  .corner-content-left {
    padding-top: 10px;
    padding-left: 20px;
    width: 200px;
    color: var(--corner-text-color);
    text-align: left;
    margin: var(--corner-text-padding);
  }

  .corner-content-right {
    width: 20px;
    color: var(--corner-text-color);
    text-align: right;
    margin: var(--corner-text-padding)  50px var(--corner-text-padding) auto ;
  }
</style>
