---
const { line } = Astro.props;
---

<section>
  <div class={"content" + (line !== undefined ? " line" : "")}>
    <slot />
  </div>
</section>

<style>
  :root {
    --corner-text-color: rgb(52, 52, 52);
  }

  :root.dark {
    --corner-text-color: white;
  }

  .line {
    border-top: 2px dashed var(--corner-text-color);
  }

  section {
    padding: 10px 10px; /* Adjust as needed for the desired spacing */
  }

  .content {
    max-width: min(800px, 90vw);
    margin: 0 auto;
  }
</style>
