<section>
  <div class="content">
    <slot />
  </div>
</section>

<style>
  section {
    border-top: 2px dashed #fff;
    padding: 50px 50px; /* Adjust as needed for the desired spacing */
  }

  .content {
    max-width: min(800px, 90vw);
    margin: 0 auto;
  }
</style>
